body {
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Courier New;
  background: #ededf0;
}

button {
  background: #ffffff;
  border-radius: 2px;
  height: 32px;
  font-size: 13px;
  color: #0c0c0d;
  min-width: 132px;
  width: auto;
  box-shadow: none;
  border-radius: 0px;
  border: 0;
}

button:hover {
  background: rgba(12, 12, 13, 0.2)
}

button:active {
  background: rgba(12, 12, 13, 0.3);
}

pre {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*MAIN*/

#textarea {
  background: #f9f9fa;
  flex-grow: 1;
  overflow: scroll;
  border: 1px solid #000;
  margin: 10px 10px 10px 0px;
  white-space: nowrap;
}

.big {
  font-size: larger;
  font-weight: bolder;
}

.data {
  border-bottom: 1px dotted grey;
  padding-bottom: 10px;
}

#buttons {
  margin-bottom: 10px;
}

/*MAIN END*/

/*OPTIONES*/

::placeholder {
  color: LightGray;
  opacity: 50%;
}

.select {
  height: 200px;
  overflow: scroll;
  width: 400px;
  border: 1px solid #000;
  white-space: nowrap;
}

.select ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select li {
  margin: 0;
  padding: 0;
}

.select label {
  display: block;
  color: WindowText;
  background-color: Window;
  margin: 0;
  padding: 0;
  width: 100%;
}

#select_label {
  background-color: Highlight;
  color: HighlightText;
}

/*OPTIONES END*/

/*SUB WINDOW*/

.header_url {
  margin: 10px 10px 0px 10px;
  display: flex;
}

#select_method {
  width: 10%;
  float: left;
  height: 25px;
}

#header_url {
  width: 90%;
  height: 19px;
}

#header_data {
	background: #ffffff;
  float: none;
  flex-grow: 1;
  margin: 0px 10px 0px 10px;
  overflow: scroll;
  border: 1px solid #000;
  height: 3vh;
}

#post_data {
	background: #ffffff;
  flex-grow: 1;
  margin: 0px 10px 0px 10px;
  overflow: scroll;
  border: 1px solid #000;
  white-space: nowrap;
  height: 3vh;
}

#footer {
  margin: 10px 10px 10px 10px;
}

#replay_send_button {
  float: left;
}

#content_length_label {
  float: none;
  padding-top: 3px;
  margin-left: 100px
}

/*SUB WINDOW END*/
